* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #35485F;
    font-family: 'Merriweather Sans', sans-serif;
}

#table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    grid-template-rows: minmax(75px, auto);
}

label {
    color: white;
    font-size: 30px;
}

.col {
    grid-column: 2 / 7;
}

.hand {
    border: 5px solid #20A289;
    border-radius: 15px;
    background-color: #2ABB9B;
    min-height: 226px;
 }

 img {
     margin: 10px;
 }

#bettingButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    outline: none;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#messages {
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    color: #D85345;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerInfo {
    display: grid;
    grid-template-columns: repeat(4, auto);  
}

.chipButton {
    background-color: inherit;
}

.chipButton:active {
    transform: translateY(4px);
}

.chip {
    width: 58px;
    height: 58px;
    margin: 0;
}
